.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: linear-gradient(to right, #031676, #0627ca);
  position: fixed;
  top: 0;
  max-width: 1444px;
  width: 100%;
  z-index: 1000;
  max-height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

.logo h1 {
  font-size: 22px;
  margin: 0;
}

.logo img {
  height: 50px;
  width: auto;
}


.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: opacity 0.3s;
  padding: 10px 15px;
}

.nav-menu li a:hover {
  opacity: 0.7;
}

.nav-menu .dropdown {
  position: relative;
}

.nav-menu .dropdown-icon {
  margin-left: 5px;
  font-size: 10px;
  transition: transform 0.3s;
}

.nav-menu .dropdown:hover .dropdown-icon {
  transform: rotate(180deg);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #031676;
  min-width: 220px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  list-style: none;
  padding: 10px 0;
  margin-top: 10px;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  transition: background-color 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.dropdown-menu li a:hover {
  background-color: #0420aa;
  opacity: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 30px;
    width: 100%;
    max-height: 65px;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: #031676;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 20px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .dropdown-menu {
    position: static;
    display: none;
    background-color: #031676;
    box-shadow: none;
    margin-top: 0;
    padding: 0;
  }

  .dropdown.active .dropdown-menu {
    display: block;
  }

  .dropdown-menu li a {
    padding: 10px 20px;
    font-size: 12px;
  }

}